@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .arrow-up {
    background-color: white;
    -webkit-mask-image: url('/arrow-up.svg');
    mask-image: url('/arrow-up.svg');
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }
}
